body{
}
.page{
    display: block;
    background-color: white;
    width: 90%;
    margin: auto;
    border: 3px solid black;
}
.introbox{
    display: flex;
    flex-direction: row;
    height: 30%;
    width:100%;
    align-items: flex-start;
    background-color: white;
}
.titlebox{
    display: flex;
    flex: 3;
    width: 100%;
    height:100%;
    font-size: 300%;
}
p.title{
    font-family: Monospace;
    color: black;
    font-size: inherit;
    margin: auto;
    padding: 5%;
}
.profilepicbox{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}
img.profilepic{
    height: 80%;
    margin-top: 5%;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid black;
}
nav{
}
.navbox{
    display: block;
    background-color: white;
}
.navlist{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li.navitem{
    display: inline;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    flex: 1;
    text-align: center;
    font-family: Monospace;
    font-size: 140%;
    padding: 2%;
}
li.navitem:first-child{
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
li.navitem:last-child{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: none;
}
li.navitem a{
    text-decoration: none;
}
.bodybox{
    display: block;

}
.headerbox{
    display: block;
    background-color: white;
    width: 100%;
    height: 8%;
}
.headerbox p{
    text-align: center;
    color: black;
    font-size: 330%;
    margin: auto;
    padding-top: 1%;
    font-family: "Comic Sans MS";
}
.combobox{
    display: flex;
    flex-direction:row;
}
.textbox{
    display: inline;
    font-family: Arial;
    color: black;
    font-size: 120%;
    padding: 5%;
    text-align: justify;
    flex: 1;
}
.imagebox{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}
#rubix{
    height: 70%;
    margin: auto;
}
